{% extends "base.html" %}

{% load static %}

{% block title %} {{ block.super }} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}

{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}


{% block body_block %}
    <div class="container">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'user:index' %}">Back</a>
        <button type="submit">Submit</button>
    </form>
    </div>
{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
{% endblock %}