{% extends "index.html" %}

{% load static %}

{% block title %}StudentWiki | Dodaj plik {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}
{{ block.super }}
{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

  {% block navigation %}
 {{ block.super }}
  {% endblock %}

  {% block content %}

<section class="page-main-container bg-light">
    <div class="page-content">
  <div class="page-inner-content container h-100">
      <div class="page-header">
          <div class="page-block">
              <div class="row h-100 align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">{{ res_creation }}</h5>
                      </div>
                      <ul class="breadcrumb">
                          {% block breadcrumbs %}
                              {{ block.super }}
                              <li class="breadcrumb-item">
                                  <a href="{% url 'resources:resource_list' %}"> {{ resources }} </a>
                              </li>
                          {% endblock %}
                          <li class="breadcrumb-item">{{ new_res }}</li>
                      </ul>
                  </div>
                  <div class="main-body">
                      <div class="page-wrapper">
                          <div class="row">
                              <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                {{ new_res }}
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                         <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_rsrc_subject">Kurs</label>
                                                         {{ form.rsrc_subject }}
                                                     </div>
                                                 </div>


                                                 <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_title">Nazwa pliku</label>
                                                         {{ form.title }}
                                                     </div>
                                                 </div>


                                                    <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_resource_uri">Adres zasobu</label>
                                                         {{ form.resource_uri }}
                                                     </div>

                                                 </div>

                                                       <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_description">Opis zasobu</label>
                                                         {{ form.description }}
                                                     </div>
                                                 </div>
                                                </div>
                                                 <button type="submit" class="btn btn-success">{{ add_res }}</button>
                                             </form>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
</section>
  {% endblock %}

  {% block footer %}
{{ block.super }}
  {% endblock %}

{% block body_block %}

{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
<script>
     var title = document.getElementById('id_title');
    title.classList.add('form-control');

    var file = document.getElementById('id_resource_uri');
    file.classList.add('form-control');

    var desc = document.getElementById('id_description');
    desc.classList.add('form-control');
</script>
{% endblock %}