{% extends "base.html" %}

{% load static %}

{% block title %} {{ block.super }} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}

{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

{% block body_block %}
    <div class="container">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'user:my_login' %}">sign in</a> now.
  </p>
    </div>
{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
{% endblock %}
