{% extends "base.html" %}

{% load static %}

{% block title %} {{ block.super }} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}


{% block body_block %}
<style>
    form#password_resetting_form label{
	display: none;
}
</style>
   <div class="container right-panel-active" id="container">
        <div class="form-container sign-up-container">
            <form method="post" id="password_resetting_form">
                <h1>Odzyskaj dostęp</h1>
                {% csrf_token %}
                 {{ form.as_p }}
                <button type="submit">ZRESETUJ</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Witaj !</h1>
                    <p> Aplikacja StudentWiki została stworzona w celu przekraczania granic! Wspólnie możemy więcej! </p>
                    <button class="ghost" id="signIn" onclick="window.location.href='{% url 'user:my_login' %}'">Zaloguj się</button>
                </div>
            </div>
        </div>
    </div>
<script>
    document.getElementById('id_email').setAttribute('placeholder','Email');
</script>

<!--    <div class="container">-->
<!--<h3>Forgot password</h3>-->
<!--  <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Change password</button>-->
<!--  </form>-->
<!--    </div>-->
{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
<script src="{% static 'custom.js' %}"></script>
{% endblock %}
