{% extends "base.html" %}
{% load static %}
{% block title %} {{ block.super }} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

  {% block navigation %}
<nav class="navbar page-main-header navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="page-main-nav-logo" src="{% static '3_logo_up.png' %}" alt=""> {{ project_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'files:file_upload' %}">{{ upload }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'files:file_list' %}">{{ file_list }}</a>
        </li>
          <li class="nav-item"><a href="{% url 'resources:resource_list' %}" class="nav-link">{{ res_list }}</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ contact }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:my_logout' %}">{{ logout }}
            <span class="sr-only">(current)</span>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  {% endblock %}

  {% block content %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
      {% block breadcrumbs %}
    <li class="breadcrumb-item">
          <a href= "/" ><i class="fas fa-home"></i></a>
    </li>
      {% endblock %}
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center masthead_text">
        <h1 class="font-weight-light">Masthead Content</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <form action="{% url 'search_results' %}" method="get">
              <div class="search-bar-container">
              <input class="search-bar" name="q" type="text" placeholder="Wpisz poszukiwane hasło...">
              <i class="fas fa-search search-bar-icon"></i>
              </div>
          </form>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>
  {% endblock %}

  {% block footer %}
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
     <div class="row">
       <div class="col-4">
         <img class="page-footer-logo" src="{% static '3_logo_up.png' %}" alt="">
       </div>
       <div class="col-4">
         <h4>{{ university_name }} <br>
             {{ institute_name }} <br>
             {{ address }}
         </h4>
         <p> {{ phone }}
             {{ email }} <br>
         </p>
       </div>
       <div class="col-4">
         <h4>2020</h4>
       </div>
     </div>
    </div>
  </footer>
  {% endblock %}


{% block main_foot_js %}
{{ block.super }}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block sub_foot_js %}
<script src="{% static 'js/components/homepage/homepage.js' %}"></script>
{% endblock %}