{% extends "index.html" %}

{% block title %}{{ project_name }} | {{ file_preview}} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}
    {{ block.super }}
{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

 {% block navigation %}
    {{ block.super }}
  {% endblock %}

  {% block content %}
<section class="page-main-container bg-light">
    <div class="page-content">
  <div class="page-inner-content container h-100">
      <div class="page-header">
          <div class="page-block">
              <div class="row h-100 align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">{{ details }}</h5>
                      </div>
                      <ul class="breadcrumb">
                          {% block breadcrumbs %}
                              {{ block.super }}
                              <li class="breadcrumb-item">
                                  <a href="{% url 'files:file_list' %}"> {{ file_list }} </a>
                              </li>
                          {% endblock %}
                          <li class="breadcrumb-item">{{ details }}</li>
                      </ul>
                  </div>
                  <div class="main-body">
                      <div class="page-wrapper">
                          <div class="row">
                              <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                {{ file_details }}
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="card text-center">
                                              <div class="card-header">
                                                {{ object.file_subject.sub_name}}
                                              </div>
                                              <div class="card-body">
                                                <h5 class="card-title"> {{ object.title }} </h5>
                                                <p class="card-text">{{ object.description|default:"(not provided)" }}</p>
                                                     <a href="{{ object.file.url }}" class="btn btn-success">
                                                        <i class="fas fa-cloud-download-alt"></i> {{ download }}
                                                    </a>
                                                  {% if object.file_owner == request.user %}
                                                        {% url "files:file_delete" object.file_id as delete_uri %}
                                                        <a href="delete" class="btn btn-danger">
                                                            <i class="fas fa-trash"></i> {{ file_remove }}
                                                        </a>
                                                    {% endif %}
                                              </div>
                                              <div class="card-footer text-muted">
                                                {{ owner }} : {{ object.file_owner.username }}
                                                  # moze zmienic wlasciciel na dodano przez: ? i dac date ? jak to mozliwe ?
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
</section>
  {% endblock %}

  {% block footer %}
    {{ block.super }}
  {% endblock %}

{% block body_block %}

{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
{% endblock %}