{% extends "index.html" %}

{% load static %}

{% block title %}{{ project_name }} | {{ upload_file }} {% endblock %}

{% block main_css %}
{{ block.super }}
{% endblock %}

{% block sub_css %}
{{ block.super }}
{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

  {% block navigation %}
 {{ block.super }}
  {% endblock %}

  {% block content %}

<section class="page-main-container bg-light">
    <div class="page-content">
  <div class="page-inner-content container h-100">
      <div class="page-header">
          <div class="page-block">
              <div class="row h-100 align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">{{ file_upload }}</h5>
                      </div>
                      <ul class="breadcrumb">
                          {% block breadcrumbs %}
                              {{ block.super }}
                              <li class="breadcrumb-item">
                                  <a href="{% url 'files:file_list' %}"> {{ files }} </a>
                              </li>
                          {% endblock %}
                      </ul>
                  </div>
                  <div class="main-body">
                      <div class="page-wrapper">
                          <div class="row">
                              <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                {{ new_file }}
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                             <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                         <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_file_subject">{{ course }}</label>
                                                         {{ form.file_subject }}
                                                     </div>
                                                 </div>


                                                 <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_title">{{ file_name }}</label>
                                                         {{ form.title }}
                                                     </div>
                                                 </div>


                                                    <div class="col-sm-12">
                                                     <div class="custom-file">
                                                         {{ form.file }}
                                                         <label class="custom-file-label" for="id_file">{{ select_file }}</label>
                                                     </div>

                                                 </div>

                                                       <div class="col-sm-12">
                                                     <div class="form-group">
                                                         <label for="id_description" style="margin-top:.5rem;">{{ file_description }}</label>
                                                         {{ form.description }}
                                                     </div>
                                                 </div>
                                                </div>
                                                 <button type="submit" class="btn btn-success">{{ file_upload }}</button>
                                             </form>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
</section>
  {% endblock %}

  {% block footer %}
{{ block.super }}
  {% endblock %}

{% block body_block %}

{% endblock %}

{% block main_foot_js %}
{{ block.super }}
{% endblock %}

{% block sub_foot_js %}
<script>
    var title = document.getElementById('id_title');
    title.classList.add('form-control');

    var file = document.getElementById('id_file');
    file.classList.add('custom-file-input');

    var desc = document.getElementById('id_description');
    desc.classList.add('form-control');


    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });



</script>
{% endblock %}