{% extends "index.html" %}

{% block title %}StudentWiki | Lista plików {% endblock %}

{% block main_css %}
    {{ block.super }}
{% endblock %}

{% block sub_css %}
    {{ block.super }}
{% endblock %}

{% block main_head_js %}

{% endblock %}

{% block sub_head_js %}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

  {% block content %}
<section class="page-main-container bg-light">
    <div class="page-content">
  <div class="page-inner-content container h-100">
      <div class="page-header">
          <div class="page-block">
              <div class="row h-100 align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">{{ file_upload }}</h5>
                      </div>
                      <ul class="breadcrumb">
                          {% block breadcrumbs %}
                              {{ block.super }}
                              <li class="breadcrumb-item">
                                  <a href="{% url 'resources:resource_list' %}"> {{ resources }} </a>
                              </li>
                          {% endblock %}
                      </ul>
                  </div>
                  <div class="main-body">
                      <div class="page-wrapper">
                          <div class="row">
                              <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                {{ new_file }}
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="file-list-container">
                                                <table class="table table-hover file-list-table">
                                                    <tr class="file-list-table-header-row">
                                                        <th scope="col" class="file-list-header-title">Nazwa pliku</th>
                                                        <th scope="col" class="file-list-header-title">Opis</th>
                                                        <th scope="col" class="file-list-header-title">Szczegóły</th>
                                                    </tr>
                                                    <tbody>
                                                    {% if object_list %}
                                                    {% regroup object_list|dictsort:"file_subject.sub_name" by file_subject.sub_name as file_list %}
                                                    {% for file_group in file_list %}
                                                        <tr class="file-list-row-title">
                                                            <td class="file-list-row-title-item" colspan="3">
                                                                <h5>{{ file_group.grouper }}</h5>
                                                            </td>
                                                        </tr>
                                                        {% for file_obj in file_group.list %}
                                                            <tr>
                                                                {% url "files:file_detail" file_obj.file_id as file_uri %}
                                                                <td>{{ file_obj.title }}</td>
                                                                <td>
                                                                    {{ file_obj.description|truncatechars:50|default:"(no description provided)" }}</td>
                                                                <td class="text-right">
                                                                    <a href="{{ file_uri }}" class="btn btn-primary" role="button">
                                                                        {{ details }}
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                        {% endfor %}
                                                      {% endfor %}
                                                    {% else %}
                                                        <div class="alert alert-danger" role="alert"><strong>{{ error }} </strong>{{ no_files }}</div>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>


{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}



{% block main_foot_js %}
    {{ block.super }}
{% endblock %}

{% block sub_foot_js %}
{% endblock %}