{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#  <meta charset="utf-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">#}
{#  <title>Django DRF - React : Quickstart - Valentino G. - www.valentinog.com</title>#}
{#</head>#}
{#<body>#}
{#  <section class="section">#}
{#    <div class="container">#}
{#          <div id="app" class="columns"><!-- React --></div>#}
{#    </div>#}
{#  </section>#}
{#</body>#}
{#{% load static %}#}
{#</html>#}
{% extends "frontend/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Djungle !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>

      <p><a href="{% url 'Registration:my_logout' %}">logout</a></p>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}